@mixin arrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
  background-color: $main-color;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  z-index: 8;
}
.hero {
  .hero-sections {
    margin: 2rem;
    margin: 0rem 4rem;
    .hero-section-category {
      margin: 1rem 1rem;
      font-family: "Lucida Console", "Courier New", monospace;
    }
    .hero-sction-inner {
      display: flex;
      position: relative;
      justify-content: center;

      .right {
        @include arrow;
        right: 0;
        &::after {
          content: ">";
        }
        @include breakpoints(mobile) {
          display: none;
        }
      }

      .left {
        @include arrow;
        left: 0;
        &::after {
          content: "<";
        }
        @include breakpoints(mobile) {
          display: none;
        }
      }

      .hero-sction {
        margin: 1rem 0rem;
        width: 80%;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;

        .hero-card {
          display: flex;
          flex-direction: column;
          margin: 1rem;
          cursor: pointer;
          position: relative;
          padding: 0.8rem;
          background-color: $secondery-color;
          border-radius: 1rem;

          .title-hover {
            position: absolute;
            background-color: $primary-color;
            width: auto;
            bottom: 4rem;
            border-radius: 1rem;
            padding: 1rem;
            z-index: 5;
            display: none;

            &::before {
              content: "";
              border-color: $primary-color transparent transparent;
              border-style: solid;
              border-width: 10px;
              width: 0;
              height: 0;
              position: absolute;
              bottom: -20px;
              left: 20px;
            }
          }

          span {
            color: $text-color;
            margin-left: 6px;
            max-width: 9rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            &:hover {
              ~ .title-hover {
                display: block;
              }
            }
          }

          .slide-image-inner {
            width: 150px;
            height: 250px;
            border-radius: 10px;
          }
        }

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}
