@import "../helper/variables";

.wrapper {
  .sidebar {
    background: $side-bar-color-light;
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
 
    .logo {
      padding: 2rem;
    }

    ul {
      overflow: scroll;
      height: 80vh;

      &::-webkit-scrollbar {
        display: none;
      }

      li {
        cursor: pointer;

        a {
          display: block;
          padding: 13px 30px;
          border-bottom: 1px solid $a-border-color-light;
          color: $a-color-light;
          font-size: 16px;
          position: relative;

          &:hover,
          &:active {
            color: $a-active-color-light;
            background: $background-color-light;
            border-right: 2px solid $a-active-border-color-light;
          }
        }
      }
    }
  }
}