@import "../helper/variables";

.wrapper {
  .sidebar {
    background: $primary-color;
    border-right: 1px solid $main-color;
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
    .logo {
      padding: 2rem;
    }
    ul {
      li {
        a {
          display: block;
          padding: 13px 30px;
          border-bottom: 1px solid $secondery-color;
          color: $text-color;
          font-size: 16px;
          position: relative;
          &:hover,
          &:active {
            color: $main-color;
            background: white;
            border-right: 2px solid $secondery-color;
          }
        }
      }
    }
  }
}
