.wrapper .sidebar {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 225px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
}
.wrapper .sidebar .logo {
  padding: 2rem;
}
.wrapper .sidebar ul li a {
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid #10558d;
  color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
}
.wrapper .sidebar ul li a:hover, .wrapper .sidebar ul li a:active {
  color: #0c7db1;
  background: white;
  border-right: 2px solid rgb(5, 68, 104);
}

.section {
  width: calc(100% - 225px);
  margin-left: 225px;
  transition: all 0.5s ease;
}
.section .top_navbar {
  background: rgb(7, 105, 185);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}
.section .top_navbar .input-search {
  font-size: 16px;
  line-height: 1.5;
  border: none;
  background: #FFFFFF;
  background-image: url("../../asset/images/search.png");
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-size: 20px 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  width: 300px;
  padding: 0.5em 1em 0.5em 2.5em;
}
.section .top_navbar .input-search::-moz-placeholder {
  color: #838D99;
}
.section .top_navbar .input-search::placeholder {
  color: #838D99;
}
.section .top_navbar .input-search:focus {
  outline: none;
  box-shadow: 0 4px 10px 0 rgba(20, 187, 106, 0.16);
}
.section .top_navbar .hamburger a {
  font-size: 28px;
  color: #f4fbff;
}
.section .top_navbar .hamburger a:hover {
  color: #a2ecff;
}

.container {
  background: #fff;
  line-height: 28px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.container .slides {
  display: block;
  position: relative;
  height: 397px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}
.container .slides input {
  display: none;
}
.container .slides input:checked + .slide-container .carousel-controls label {
  display: block;
}
.container .slides input:checked + .slide-container .slide-image {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}
.container .slides .slide-container {
  display: block;
}
.container .slides .slide-container .carousel-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  font-size: 100px;
  line-height: 600px;
  color: #fff;
}
.container .slides .slide-container .carousel-controls label {
  display: none;
  position: absolute;
  padding: 0 20px;
  opacity: 0;
  transition: opacity 0.2s;
  cursor: pointer;
}
.container .slides .slide-container .carousel-controls label:hover {
  opacity: 0.4;
}
.container .slides .slide-container .carousel-controls .prev-slide {
  width: 49%;
  text-align: left;
  left: 0;
}
.container .slides .slide-container .carousel-controls .next-slide {
  width: 49%;
  text-align: right;
  right: 0;
}
.container .slides .slide-image {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: all 0.7s ease-in-out;
}
.container .slides .slide-image img {
  width: auto;
  min-width: 100%;
  height: 100%;
}
.container .slides .carousel-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 999;
  text-align: center;
}
.container .slides .carousel-dots .carousel-dot {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.5;
  margin: 10px;
  cursor: pointer;
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3 {
  opacity: 1;
}

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body.toggle .sidebar {
  left: -225px;
}

body.toggle .section {
  margin-left: 0;
  width: 100%;
}

body {
  background: #f5f6fa;
  min-width: 350px;
}/*# sourceMappingURL=root.css.map */