$mobile-width: 440px;
$tablet-width: 768px;
$desktop-width: 1240px;
$desktopLarge-width: 1920px;

$background-color-light: white;
$background-body-color-light: #f5f6fa;
$text-color-light: black;
$nav-bar-color-light: rgb(7, 105, 185);
$side-bar-color-light: black;
$a-border-color-light: #3a8d10;
$a-color-light: rgb(241, 237, 237);
$a-active-color-light: #0c7db1;
$a-active-border-color-light: rgb(5, 68, 104);
$span-color-light: green;
$hover-color-light: grey;
$input-search-background-color-light: #ffffff;
$input-search-placeholder-color-light: #838D99;
$input-search-focus-color-light: rgba(20, 187, 106, 0.16);
$input-search-shadow-color-light: rgba(0, 0, 0, 0.08);
$hamburger-a-color-light: #f4fbff;
$hamburger-a-hover-color-light: #a2ecff;






