$mobile-width: 440px;
$tablet-width: 768px;
$desktop-width: 1240px;
$desktopLarge-width: 1920px;
$primary-color: #1e1e1e;
$secondery-color: #bb264966;
$main-color: #be3455;
$grey-color: #838d99;
$text-color: rgb(241, 237, 237);